@model TeamPlayers.Core.Entities.Jugador

<form id="jugador-mantenimiento-form-equipo">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" value="0" />
    <div class="form-group">
        <label asp-for="IdEquipo"></label>
        <select asp-for="IdEquipo" data-role="select"></select>
        <span asp-validation-for="IdEquipo" class="fg-crimson"></span>
    </div>
    <div class="form-group">
        <input id="jugador-mantenimiento-form-submit" type="submit" value="Guardar" class="button success" />
    </div>
</form>
