@{
    ViewData["Title"] = "Jugadores";
}
<section id="jugador-mantenimiento-container">
    <zing-grid caption="Jugadores"
               lang="es"
               layout-controls
               columns-control
               sort
               search
               pager
               page-size="10"
               page-size-options="2,3,6"
               layout="card"
               theme="ios"
               width="stretch"
               filter>
        <zg-data src="/api/jugador">
            <zg-param name="recordPath" value="result"></zg-param>
        </zg-data>
        <zg-button>
            <button id="jugador-mantenimiento-button-add" class="button default large fg-darkGrayBlue">
                <span class="mif-add mif-lg"></span>
            </button>
             <a asp-controller="Jugador" asp-action="Activos" class="button default large fg-darkGrayBlue">
                <span class="mif-user-check mif-lg"></span>
            </a>
            <a asp-controller="Jugador" asp-action="Inactivos" class="button default large fg-darkGrayBlue">
                <span class="mif-user-minus mif-lg"></span>
            </a>
            <a asp-controller="Jugador" asp-action="Libres" class="button default large fg-darkGrayBlue">
                <span class="mif-record_voice_over mif-lg"></span>
            </a>
        </zg-button>
        <zg-colgroup>
            <zg-column type="number" index="id" header="Id"></zg-column>
            <zg-column index="nombre" header="Nombre"></zg-column>
            <zg-column index="apellido" header="Apellido"></zg-column>
            <zg-column index="estado.nombre" header="Estado"></zg-column>
            <zg-column type="date" index="nacimiento" header="Nacimiento"></zg-column>
            <zg-column index="pasaporte" header="Pasaporte"></zg-column>
            <zg-column index="direccion" header="Direccion" width="400"></zg-column>
            <zg-column index="sexo" header="Sexo"></zg-column>
            <zg-column index="equipo.nombre" header="equipo" height="400"></zg-column>
            <zg-column type="datetime" index="creado" header="Creado"></zg-column>
            <zg-column index="id" header="Activo/Inactivo" width="120" sort="disabled" filter="disabled" renderer="checkRenderer">
                <input class="jugador-mantenimiento-check-estado" type="checkbox" data-estado=[[record.idEstado]] onchange=checkEstadoHandler([[record.id]]) data-role="switch" data-cls-switch="mySwitch" data-cls-check="bd-cyan myCheck">
            </zg-column>
            <zg-column index="id" header="Operaciones" sort="disabled" filter="disabled">
                <zg-button>
                    <button class="button fg-darkGrayBlue jugador-mantenimiento-button-edit" onclick="editButtonHandler([[record.id]])"><span class="mif-pencil mif-lg"></span></button>
                </zg-button>
                <zg-button>
                    <button class="button alert jugador-mantenimiento-button-delete" onclick="deleteButtonHandler([[record.id]])"><span class="mif-bin mif-lg"></span></button>
                </zg-button>
                <zg-button>
                    <button class="button primary jugador-mantenimiento-button-equipo" onclick="equipoButtonHandler([[record.id]])"><span class="mif-organization mif-lg mr-2"></span>Asignar Equipo</button>
                </zg-button>
                <zg-button>
                    <button class="button success jugador-mantenimiento-button-liberar" onclick="liberarButtonHandler([[record.id]])"><span class="mif-tab mif-lg mr-2"></span>Liberar</button>
                </zg-button>
            </zg-column>
        </zg-colgroup>
    </zing-grid>

    <div class="dialog"
         data-role="dialog"
         data-on-close="upsertModalOnCloseHandler()"
         id="jugador-mantenimiento-modal-upsert">

        <div class="dialog-title">Guardar/Editar Jugador</div>
        <div class="dialog-content">
            <partial name="_JugadorUpsert">
        </div>
        <div class="dialog-actions">
            <button class="button js-dialog-close">Cerrar</button>
        </div>
    </div>

    <div class="dialog"
         data-role="dialog"
         data-on-close="equipoModalOnCloseHandler()"
         id="jugador-mantenimiento-modal-equipo">
        <div class="dialog-title">Asignar Equipo</div>
        <div class="dialog-content">
            <partial name="_JugadorEquipoUpsert">
        </div>
        <div class="dialog-actions">
            <button class="button js-dialog-close">Cerrar</button>
        </div>
    </div>
</section>

@section Scripts{
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
@{
    await Html.RenderPartialAsync("_CrudUtilities");
}
<script src=~/js/jugador.js></script>
}