@model TeamPlayers.Core.Entities.Equipo


<form id="equipo-mantenimiento-form-upsert">
    <div asp-validation-summary="ModelOnly" class="fg-crimson"></div>
    <input type="hidden" asp-for="Id" value="0" />
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="metro-input" />
        <span asp-validation-for="Nombre" class="fg-crimson"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pais"></label>
        <select asp-for="Pais" data-role="select"></select>
        <span asp-validation-for="Pais" class="fg-crimson"></span>
    </div>
    <div class="form-group">
        <input id="equipo-mantenimiento-form-submit" type="submit" value="Guardar" class="button success" />
    </div>
</form>