@{
    ViewData["Title"] = "Equipos";
}

<section id="equipo-mantenimiento-container">
    <zing-grid caption="Equipos"
               lang="es"
               layout-controls
               columns-control
               sort
               search
               pager
               page-size="10"
               page-size-options="2,3,6"
               layout="row"
               theme="ios"
               width="stretch"
               filter>
        <zg-data src="/api/equipo">
            <zg-param name="recordPath" value="result"></zg-param>
        </zg-data>
        <zg-button>
            <button id="equipo-mantenimiento-button-add" class="button default large fg-darkGrayBlue">
                <span class="mif-add mif-lg"></span>
            </button>
        </zg-button>
        <zg-colgroup>
            <zg-column type="number" index="id" header="Id"></zg-column>
            <zg-column index="nombre" header="Nombre"></zg-column>
            <zg-column index="pais" header="Pais"></zg-column>
             <zg-column index="estado.nombre" header="Estado"></zg-column>
            <zg-column type="datetime" index="creado" header="Creado"></zg-column>
            <zg-column index="id" header="Estado" width="120" sort="disabled" filter="disabled" renderer="checkRenderer">
                <input class="equipo-mantenimiento-check-estado" type="checkbox" data-estado=[[record.idEstado]] onchange=checkEstadoHandler([[record.id]]) data-role="switch" data-cls-switch="mySwitch" data-cls-check="bd-cyan myCheck">
            </zg-column>
            <zg-column index="id" header="Operaciones" sort="disabled" filter="disabled">
                <zg-button>
                    <button class="button fg-darkGrayBlue equipo-mantenimiento-button-edit" onclick="editButtonHandler([[record.id]])"><span class="mif-pencil mif-lg"></span></button>
                </zg-button>
                <zg-button>
                    <button class="button alert equipo-mantenimiento-button-delete" onclick="deleteButtonHandler([[record.id]])"><span class="mif-bin mif-lg"></span></button>
                </zg-button>
                <zg-button>
                    <a href="/equipo/[[record.id]]/jugadores" class="button info equipo-mantenimiento-button-jugadores"><span class="mif-organization mif-lg mr-2"></span>Jugadores</a>
                </zg-button>
            </zg-column>
        </zg-colgroup>
    </zing-grid>

    <div class="dialog"
         data-role="dialog"
         data-on-close="upsertModalOnCloseHandler()"
         id="equipo-mantenimiento-modal-upsert">

        <div class="dialog-title">Guardar/Editar Equipo</div>
        <div class="dialog-content">
            <partial name="_EquipoUpsert">
        </div>
        <div class="dialog-actions">
            <button class="button js-dialog-close">Cerrar</button>
        </div>
    </div>
</section>

@section Scripts{
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
@{
    await Html.RenderPartialAsync("_CrudUtilities");
}
<script src=~/js/equipo.js></script>
        }
