@{
    ViewData["Title"] = "Inicio";
}

<div class="icon-box border bd-default">
    <div class="icon bg-lightCobalt fg-white"><span class="mif-organization"></span></div>
    <div class="content p-4">
        <div class="text-upper">Manejador de jugadores y equipos</div>
        <div class="text-upper text-bold text-lead">IGNACIO MOREL PUJOLS</div>
    </div>
</div>