<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeamPlayers</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="/lib/metroui/dist/css/metro-all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <aside class="sidebar pos-absolute z-2"
           data-role="sidebar"
           data-toggle="#sidebar-toggle-3"
           id="sb3"
           data-shift=".shifted-content">
        <ul class="sidebar-menu">
            <li class="group-title">Mantenimientos</li>
            <li><a asp-controller="Estado" asp-action="Mantenimiento"><span class="mif-cogs icon"></span>Estados</a></li>
            <li><a asp-controller="Equipo" asp-action="Mantenimiento"><span class="mif-organization icon"></span>Equipos</a></li>
            <li><a asp-controller="Jugador" asp-action="Mantenimiento"><span class="mif-users icon"></span>Jugadores</a></li>
            <li class="divider"></li>
        </ul>
    </aside>
    <div class="shifted-content h-100 p-ab">
        <div class="app-bar pos-absolute bg-lightCobalt z-1 d-flex flex-justify-between" data-role="appbar">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-apps mif-3x fg-white"></span>
            </button>
            <a class="brand fg-white text-bold" asp-controller="Dashboard" asp-action="Datos">@ViewData["Title"] | Team Players</a>
        </div>

        <div class="h-100 p-4">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; @DateTime.Now.Year - Ignacio Morel Pujols | DGM
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/metroui/dist/js/metro.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
